.home{
    width:100%;
}

.hero{
    text-align:center;
    padding:80px 20px;
    background:#ffe5e5;
}

.hero h1{
    font-size:48px;
    color:#c1121f;
    margin-bottom:20px;
}

.hero p{
    font-size:20px;
    color:#444;
    width:60%;
    margin:auto;
    line-height:1.8;
}

.hero-buttons{
    margin-top:35px;
}

.hero-buttons button{
    padding:14px 30px;
    font-size:18px;
    border:none;
    cursor:pointer;
    border-radius:8px;
    margin:10px;
}

.donor-btn{
    background:#c1121f;
    color:white;
}

.search-btn{
    background:white;
    border:2px solid #c1121f !important;
    color:#c1121f;
}

.hero-buttons button:hover{
    transform:scale(1.05);
    transition:.3s;
}
.stats{
    display:flex;
    justify-content:center;
    gap:30px;
    padding:60px 20px;
    flex-wrap:wrap;
    background:white;
}

.card{
    width:250px;
    background:#fff;
    padding:30px;
    text-align:center;
    border-radius:12px;
    box-shadow:0 5px 15px rgba(0,0,0,.1);
    transition:.3s;
}

.card:hover{
    transform:translateY(-8px);
}

.card h2{
    color:#c1121f;
    font-size:38px;
    margin-bottom:10px;
}

.card p{
    font-size:20px;
    color:#555;
}
.why-donate{
    background:#ffe5e5;
    padding:70px 20px;
    text-align:center;
}

.why-donate h2{
    color:#c1121f;
    font-size:38px;
    margin-bottom:40px;
}

.why-cards{
    display:flex;
    justify-content:center;
    gap:25px;
    flex-wrap:wrap;
}

.why-card{
    background:white;
    width:300px;
    padding:25px;
    border-radius:12px;
    box-shadow:0 5px 15px rgba(0,0,0,.1);
    transition:.3s;
}

.why-card:hover{
    transform:translateY(-8px);
}

.why-card h3{
    color:#c1121f;
    margin-bottom:15px;
}

.why-card p{
    color:#555;
    line-height:1.6;
}
@media (max-width:768px){

.hero h1{
    font-size:34px;
}

.hero p{
    width:95%;
    font-size:18px;
}

.hero-buttons{
    display:flex;
    flex-direction:column;
    align-items:center;
}

.hero-buttons button{
    width:220px;
}

}